*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
}
nav{
    display: flex;
    justify-content: space-between;
    height: 6%;
    align-items: center;
    background-color: black;
}
.logo{
    color: rgb(221, 12, 12);
    font-size: 3.5vh;
}
.menu ul{
    color: aliceblue;
    list-style: none;
    display: flex;
}
.menu ul li{
    margin: 1vw;
}
.menu ul li:hover{
    color: red;
}
.main{
    color: aliceblue;
}
.main img{
    position: absolute;
    width: 100%;
    height: 65vh;
}
.name{
    position: relative;
    display: flex;
    color: white;
    font-size: 9vh;
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    top:12vh;
    left: 7vw;
    text-indent: -40px;  
    letter-spacing: -10px;
}
.des{
    position: relative;
    top: 10vh;
    left: 2.5vw;
    font-weight: 500;
}
.tittle{
    position: absolute;
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.603),rgba(8, 8, 8, 0));
    height: 60%;
    border: none;
}
.upper h5{
    position: relative;
    color: white;
    top: 12.3vh;
    left :3.5vw;
    font-size: 20px;
}
.upper img{
    top:10vh;
    width: 80px;
    height: 40px;
}
.btn{
    position: relative;
    top: 27vh;
    margin-left: 8px;
    color: aliceblue;
    border: solid rgba(255, 255, 255, 0.644) 1px;
    border-radius: 3px;
    width: 10vw;
    height: 6vh;
    background: transparent;
}
.btn:hover{
    color: black;
    background-color: rgb(240, 248, 255);
}
.footer {
    position: relative;
    top: 67vh;
    font-weight: 400;
    left: 2%;
    width: 97%;
    height:400px;
    overflow: hidden;
    overflow-x: scroll;
}
.footer::-webkit-scrollbar{
    display: none;
}
.search img{
    width: 30px;
    height: 20px;
}
.search i{
    color: rgb(253, 253, 253);
    width: 20px;
    height: 20px;
    margin-left: 13px;
}
.imgcontainer{
    width: 100%;
    height: 100%;
    white-space: nowrap;

    
}
.view{
    display: inline-block;
    height: 250px;
    width: 150px;
    margin: 15px;
    overflow:hidden;
}
.imgcontainer img{
    border-radius: 10px;
    width: 170px;
    height: 270px;
    cursor: grabbing;
}
.imgcontainer img:hover{
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1;
}